@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: fantasy;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: blueviolet;
}
 .wrapper{
    width: 450px;
    background: transparent;
    color: #fff;
    border-radius: 30px;
    border: 2px solid
 }
  .wrapper h1{
    font-size: 36px;
    text-align: center;
  }

  .wrapper button{
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
  }

